div#content{
    max-width: 1600px;
    margin: 0 auto;
}


nav a {
    text-align: center;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}


#background {
    height: 725px;
}


body {
    background-color: #66BCF1;
}

header {
    background-color: #1075CE;
}

nav a:hover {
    background-color: #FFDF27;
}

.book, .join {
    background-color: #FFDF27;
}

.book:hover, .join:hover {
    background-color: #FFDF27;
}

#background {
    background-color: #1075CE;
}

.msg {
    background-color: #66BCF1;
}

footer {
    background-color: #1075CE;
}


nav a {
    color: black;
}

nav a:hover {
    color: black;
}

.home-title {
    color: black;
}

h4 {
    color: black;
}

.book, .join {
    color: black;
}

.book:hover, .join:hover {
    color: black;
}

.msg h2 {
    color: black;
}

.msg p {
    color: black;
}

footer {
    color: black;
}

footer a {
    color: black;
}

footer a:hover {
    color: black;
}


nav a {
    text-decoration: none;
}

.book, .join {
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

.icon {
    width: 80px;
}

.logo {
    width: 80px;
}







.home-title {
    font-family: 'Rubik Dirt', '', ''; 
    font-size: 2em;
}

.book, .join {
    font-size: 18px;
}

.msg p {
    line-height: .8em;
}


msg {
    line-height: 1.5em;
}


body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}


#logo_link {
    padding-top: 5px;
}

nav a {
    padding: 35px;
}

.book, .join {
   padding: 15px 30px;
}

.icon {
   padding-top: 10px;
}

.msg {
    padding: 35px;
}

.msg p {
   padding-bottom: 15px;
}

footer {
   padding: 25px 50px;
}

footer .social img {
   padding-top: 15px;
}


.home-title {
   margin-top: 10px;
}

.book, .join {
   margin-top: 50px;
}

.rivers-card, .camping-card, .rapids-card {
   margin: 200px 0;
}

footer {
   margin-top: 200px;
}


.book, .join {
    border-radius: 5px;
}

.card-img {
    border: 10px solid #1075CE;

}

main section img {
    box-sizing: border-box;
}